<svg zoom-pan pan="Home.pan" scale="Home.scale"
     width="100%" height="100%">
  <g ng-attr-transform="translate( {{ Home.pan.x }},{{ Home.pan.y }} )scale( {{ Home.scale }} )">
    <g 
      ng-repeat="link in Home.links track by link.id">
      <line
        class="friend-link"
        ng-attr-x1="{{ link.friend1.x }}"
        ng-attr-y1="{{ link.friend1.y }}"
        ng-attr-x2="{{ link.friend2.x }}"
        ng-attr-y2="{{ link.friend2.y }}">
      </line>
    </g>
    <g 
      ng-repeat="friend in Home.friends track by friend.id"
      draggable="friend"
      ng-attr-transform="translate({{ friend.x }},{{ friend.y }})">
      <smiley>
      </smiley>
      <text x="-15" y="40" fill="black">{{ friend.name }}</text>
    </g>
  </g>
</svg>
