<svg ng-attr-width="{{ barChart.width + 50 }}"
     ng-attr-height="{{ barChart.height + 50 }}">
  <g ng-attr-transform="translate({{ barChart.margin.left}}, {{ barChart.margin.top }})">
    <g class="x axis" ng-attr-transform="translate(0,{{ barChart.innerHeight }})">
      <axis
        scale="barChart.x"
        orient="bottom"
      ></axis>
    </g>
    <g class="y axis">
      <axis
        scale="barChart.y"
        orient="left"
        ticks="10"
        ticksFormat="%"
      ></axis>

      <text
        transform="rotate(-90)"
        y="6"
        dy=".71em">Value</text>
    </g>

    <rect ng-repeat="item in barChart.data"
      class="bar"
      ng-attr-x="{{ barChart.x(item.x) }}"
      ng-attr-width="{{ barChart.x.rangeBand() }}"
      ng-attr-y="{{ barChart.y(item.value) }}"
      ng-attr-height="{{ barChart.innerHeight - barChart.y(item.value) }}"></rect>
  </g>
</svg>