<svg ng-attr-width="{{ barChart.width + 50 }}"
     ng-attr-height="{{ barChart.height + 50 }}">
  <g ng-attr-transform="translate({{ barChart.margin.left}}, {{ barChart.margin.top }})">
    <g class="x axis" ng-attr-transform="translate(0,{{ barChart.innerHeight }})">
      <axis
        scale="barChart.xScale"
        orient="bottom"
      ></axis>
    </g>
    <g class="y axis">
      <axis
        scale="barChart.yScale"
        orient="left"
      ></axis>

      <text
        transform="rotate(-90)"
        y="6"
        dy=".71em">Value</text>
    </g>

    <rect ng-repeat="item in barChart.data"
      class="bar"
      ng-attr-x="{{ barChart.xScale(item.month) }}"
      ng-attr-width="{{ barChart.xScale.rangeBand() }}"
      ng-attr-y="{{ barChart.yScale(item.value) }}"
      ng-attr-height="{{ barChart.innerHeight - barChart.yScale(item.value) }}"></rect>
  </g>
</svg>